---
name: 'Lint'
on:
  pull_request: {}
  push: {}
  schedule:
    - cron: '0 0 * * 1'
jobs:
  ansible-lint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'ansible/ansible-lint@v25'
        with:
          requirements_file: 'requirements.yaml'
          working_directory: 'homelab'

  terraform-fmt:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - run: 'rm secrets.auto.tfvars'

      - uses: 'hashicorp/setup-terraform@v3'
      - run: 'terraform fmt -check -recursive'

  terraform-validate:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - run: 'rm secrets.auto.tfvars'

      - uses: 'hashicorp/setup-terraform@v3'
      - run: 'terraform init -cloud=false'
      - run: 'terraform validate'

  tflint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - run: 'rm secrets.auto.tfvars'

      - uses: 'hashicorp/setup-terraform@v3'
      - run: 'terraform init -cloud=false'

      - uses: 'actions/cache@v4'
        with:
          path: '~/.tflint.d/plugins'
          key: 'tflint-${{ hashFiles(''.tflint.hcl'') }}'

      - uses: 'terraform-linters/setup-tflint@v4'
      - run: 'tflint --init'
      - run: 'tflint'

  yamllint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'ibiqlik/action-yamllint@v3'
